<li>
  <div class="user-view">
    <!--<div class="background">-->
    <!--  <img src="images/office.jpg">-->
    <!--</div>-->
    <a href="#!user"><%= image_tag("#{current_user.profile_img}", class: "circle")%></a>
    <a href="#!name"><span class="black-text name"><%= current_user.username%></span></a>
  </div>
</li>